#contact_modal {
  display: none;
  width: 75%;
  position: fixed;
  top: 7%;
  left: 15%;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
@media screen and (max-width: 1000px) {
  .photograph-header {
    display: flex;
    flex-direction: column;
    padding: 0 75px 225px 75px;
  }
}
@media screen and (max-width: 620px) {
  .photograph-header {
    padding: 0 75px 340px 75px;
  }
}

/* .photograph-header {
  color: #901c1c;
  margin-right: 100px;
} */
.photograph-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  /* overflow-clip-margin: unset; */
}
@media screen and (max-width: 1000px) {
  .photograph-header img {
    margin-top: 25px;
  }
}

.photograph-infos h1 {
  display: flex;
  font-size: 3rem;
  color: #d3573c;
}
.location-city {
  font-size: 24px;
  color: #901c1c;
}
.tagline {
  font-size: 18px;
  color: #525252;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #d3573c;
  transition: 0.2s;
  color: black;
}

#sort {
  margin: 25px 100px;
}

#sort label {
  margin-right: 25px;
  font-size: 18px;
  font-weight: 700;
}
#sort-photo {
  height: 50px;
  padding: 0 10px;
  background-color: #901c1c;
  border-radius: 5px;
  color: white;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: relative;
  bottom: 25px;
  left: 0;
}
@media screen and (max-width: 800px) {
  .modal header img {
    position: relative;
    bottom: 63px;
    left: 135px;
  }
}

.modal header h2 {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 700;
  text-align: inherit;
}
@media screen and (max-width: 1000px) {
  .modal header h2 {
    margin-top: 37px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 800px) {
  .modal header h2 {
    font-size: 1.4rem;
    margin: 0;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  margin-top: 80px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 170px;
  min-height: 170px;
  font-size: 2rem;
}

.photographers-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px 100px 100px;
  gap: 40px 0;
}
article {
  display: flex;
  flex-direction: column;
}
article .carroussel-picture {
  cursor: pointer;
  width: 340px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

article .heart {
  width: 20px;
  fill: red;
  stroke: black;
}
article .heart:focus {
  outline: 2px solid black;
}
.div-counter-heart {
  display: flex;
  gap: 5px;
}

.infoPicture {
  display: flex;
  justify-content: space-between;
}
section span {
  display: flex;
  color: #911c1c;
  gap: 10px;
}
.total-likes-price {
  width: 180px;
  height: 10px;
  position: fixed;
  bottom: 0px;
  right: 2rem;
  padding: 15px 20px;
  font-weight: bold;
  background-color: #db8876;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-heart {
  display: flex;
  gap: 5px;
}
.hearts {
  width: 20px;
}

.lightbox-image {
  width: 45%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 1250px) {
  .lightbox-image {
    width: 35%;
  }
}

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3efef;
}

.lightbox.active {
  display: block;
  display: flex;
  text-align: center;
}
#left-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 300px;
  bottom: 50%;
  cursor: pointer;
}

#right-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 300px;
  bottom: 50%;
  cursor: pointer;
}

#close-lightbox {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 300px;
  bottom: 90%;
  cursor: pointer;
}
a {
  text-decoration: none;
}
